

.offcanvas{
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    z-index: 1050;
    .offcanvas-title{
        font-size: 20px;
    }
    .offcanvas-header{
        padding-bottom: 0px;
    }
    .offcanvas-body{
        padding: 0;
        overflow-x: hidden
    }
    .notification-content{ 
        padding: 10px;
        border-bottom: 1px solid rgb(200, 200, 200);
        transition: transform 0.5s ease-out;
        p{
            margin:0;
            font-size: 12px;
        }
        h6{
            margin: 0;
            font-size: 15px;
            font-weight: 500;
            line-height: 1rem;
        }
        .noti-logo img{
            margin-top: 5px;
            width: 40px;
        }

    }
    .notification-content-head{
        width: 100%;

        .btn-close{
            font-size: 10px;
        }
    }

}
.dropdown-menu{
    --bs-dropdown-min-width: 5rem;
    --bs-dropdown-padding-y: 0.1rem;
}
.dropdown-item{
    font-size: small;
}

@keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-out {
    animation: slide-out-right 0.5s forwards;
  }


.unread{
    background-color: rgb(234, 243, 252);
}
.read{
  background-color: rgb(253, 253, 253);

}
.noti-head{
    padding: 0px 16px;
    font-size: 18px;
    font-weight: 500;
}
.no-noti{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #888;
    font-size: 17px;
}
.priority{
    padding:0 7px;
    border-radius: 15px;
}
.priority-high {
    color: red;
  }
  
  .priority-medium {
    color: orange;
  }
  
  .priority-low {
    color: green;
  }


  .mark-read{
    color: rgb(60,136,238);
    font-size: 12px!important;
    font-weight: 500;
  }

  button {
    border-radius: 5px !important;
  }
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
.bx
{
    font-size: 1.5rem;
}