.form-container {
    width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[pInputText], p-dropdown, p-multiSelect {
    width: 100%;
  }
  
  .form-actions {
    text-align: right;
  }
  .incident-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem; /* Add spacing between the dropdowns */
  }